.idea/

/2nd assignment/setup/SH1/data1/*
/2nd assignment/setup/SH1/data2/*
/2nd assignment/setup/SH1/data3/*

/2nd assignment/setup/config/data1/*
/2nd assignment/setup/config/data2/*
/2nd assignment/setup/config/data3/*